body /* image de fond.je n'ai pas ie 10,donc je n'ai pas testé sur cette version.merci.*/
{
	background-image:url('../images/background.png');
}

#bloc_page /*main wrapper.dimension du site et alignement*/
{
	width:800px;
	margin:auto;
}

h1/*definition des polices taille et styles*/
{
	font:normal 4em 'Pacifico', cursive;
	color:#002d40;
	text-align:center;
	margin:0px;
}

@media all and (max-width: 480px)
{
	h1
{
		text-align:justify;
		margin-left:40px;
}
}

h2/*definition des polices taille et styles*/
{
	font:normal 1.5em 'Pacifico',cursive;
	color:#002d40;
	margin:5px;
}

h3/*definition des polices taille et styles*/
{
	font:normal 0.9em 'Source Sans Pro',sans-serif;
	color:#002d40;
	margin-bottom:0px;
}

p,address/*definition des polices taille et styles*/
{
	font:normal 0.8em 'Source Sans Pro',sans-serif;
	color:black;
}

header h2/*definition des polices taille et styles*/
{
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
	color:#03638b;
}

@media all and (max-width: 480px)
{
	header h2
{
		width:400px;
		margin-left:20px;
}
}

header/*en tete.ligne de separation*/
{
	border-bottom:1px solid black ;
}

@media all and (max-width: 480px)
{
	header
{
		border-bottom:none;
		margin-bottom:25px;
}
}

.photo_zozor
{
	border:5px white solid;
	border-radius:5px;
	box-shadow:2px 2px 2px #C0C0C0;
	float:left;
}

@media all and (max-width: 480px)
{
	.photo_zozor
{
		float:none;
		display:block;
		margin-left:145px;
}
}

nav li/*alignement horizontal des liens de navigation*/
{
	display:inline-block;
	padding-left:30px;
}

@media all and (max-width: 480px)/*alignement vertical des liens de navigation pour la version mobile.*/
{
	nav li
{
		display:block;
		padding-left:57px;
}
}

nav/*etablissement de police et ligne de séparation*/
{
	font-family: 'Source Sans Pro', sans-serif;
	border-top:1px solid black ;
	margin-top:33px;
}

@media all and (max-width: 480px)
{
	nav
{
		border-top:none;
}
}

nav ul
{
	margin:10px 0px 5px 0px;
}

nav a/*supression de l'underline sur les liens.*/
{
	text-decoration:none;
}

nav a:visited
{
	color:#002d40;
}

nav a:hover
{
	color:#f39539;
}

.liens/*images des liens.*/
{
	float:left;
	margin-right:6px;
}

@media all and (max-width: 480px)
{
	.liens
{
		display:none;
}
}

.competences,.experience,.contact,.formation,.centre_interet,.item,.hobby/*alignement des images et mise en flottant.*/
{
	position:relative;
	top:5px;
	margin-right:6px;
	float:left;
}

@media all and (max-width: 480px)/*je masque les images non presente pour la version responsive.*/
{
	.experience,.contact,.formation,.item,.hobby
{
		display:none;
}
}

#mob/*c'est la sous section de "#competences_bloc" utile pour la version responsive.*/
{
	display:inline-block;
	vertical-align:top;
}

#html,#css3,#php,#mysql/*alignement horizontal des 4 aside .*/
{
	display:inline-block;
	width:170px;
}

@media all and (max-width: 480px)/*enchevetrement des blocs section et sous section.*/
{
	#mob
{
		display:block;
		position:relative;
		bottom:300px;
}
	#competences_bloc li
{
		margin-bottom:66px;
}	
	#competences_bloc
{
		height:350px;
}
}

#competences_bloc ul/*supression symbole liste a puces.*/
{
	margin-top:0px;
	list-style-type:none;
}

#bloc_page >section /*ligne de separation.je pointe les sections directement enfant de #bloc_page.cela epargne section id=mob.*/
{
	border-bottom:1px solid gray;
	box-shadow:0px 1px 0px white;
}

@media all and (max-width: 480px)/*mise en page version mobile.*/
{
	section h2,footer h2
{
		margin-left:75px;
}
}

.level5/*sprite css niveau 5.*/
{
	background: url("../images/competences/niveau.png") no-repeat ;
	height:15px;
	width: 100px;
	position:relative;
	bottom:12px;
}

.level4/*sprite css niveau 4.*/
{
	background: url("../images/competences/niveau.png") no-repeat 0px -17px;
	height:15px;
	width: 100px;
	position:relative;
	bottom:12px;
}

.level3/*sprite css niveau 3.*/
{
	background: url("../images/competences/niveau.png") no-repeat 0px -32px;
	height:15px;
	width: 100px;
	position:relative;
	bottom:12px;
}

.level2/*sprite css niveau 2.*/
{
	background: url("../images/competences/niveau.png") no-repeat 0px -48px;
	height:15px;
	width: 100px;
	position:relative;
	bottom:12px;
}

.level1/*sprite css niveau 1.*/
{
	background: url("../images/competences/niveau.png") no-repeat 0px -64px;
	height:15px;
	width: 100px;
	position:relative;
	bottom:12px;
}

#experiences_professionnelles p,#experiences_professionnelles h3
{
	margin-left:200px;
}

@media all and (max-width: 480px)
{
	#experiences_professionnelles p,#experiences_professionnelles h3,#formations_et_diplome p
{
		margin-left:0px;
		width:340px;
}
}

#centre_d_interet ul/*supression symbole liste a puces.*/
{
	list-style-type:none;
}

#centre_d_interet p
{
	margin:1px 0px 0px 38px;
}

#voyage,#jeux_video,#photographie/*alignement horizontal des aside voyage jeux video et photographie.*/
{
	display:inline-block;
	width:33%;
}

@media all and (max-width: 480px)/*enchevetrement des blocs aside pour le responsive design.*/
{
	#voyage,#jeux_video,#photographie/*alignement vertical des aside voyage jeux video et photographie pour la version responsive.*/
{
		display:block;
}
	#jeux_video li
{
		height:200px;
		position:relative;
		bottom:130px;
}	
	#photographie li
{
		height:200px;
		position:relative;
		bottom:242px;
}
	#voyage li
{
		height:200px;
}
	#jeux_video
{
		position:relative;
		bottom:230px;
}	
	#photographie
{
		position:relative;
		bottom:470px;
}	
	#centre_d_interet
{
		height:500px;
}
}

form,#google_map/*alignement horizontal du formulaire et de la carte google.*/
{
	display:inline-block;
}

@media all and (max-width: 480px)
{
	form,#google_map/*alignement vertical du formulaire et de la carte google pour le responsive.*/
{
		display:block;
}
}

form/*mise en flottant du formulaire .*/
{
	width:42%;
	position:relative;/*l'astuce de mise en page du bouton envoyer.son element enfant (#envoyer) avec la position absolute ira se loger en bas a droite de son parent.*/
	float:left;
}

@media all and (max-width: 480px)
{
	form
{
		width:50%;
		float:none;
}
}

input, textarea 
{
    	width:335px;
	border:1px solid #002D48;
	border-radius:4px;
    	box-shadow:0px 2px 1px #666 inset;
	margin-bottom: 5px;
}

textarea
{
	height:150px;
}

@media all and (max-width: 480px)
{
	textarea
{
		height:104px;
}
}

#envoyer/*style utilisé pour le bouton envoyer du formulaire.*/
{
	background:#002d40 url('../images/enveloppe.png') no-repeat left;
	color:white;
	font-family: 'Pacifico' ;
	position:absolute;
	right:0px;
	bottom:-60px;
	width:100px;
	height:40px;
	padding-right:13px;
	text-align:right;
	border-radius:7px;
}

address
{
	margin-bottom:17px;
}

#google_map
{
	margin-left:50px;
}

@media all and (max-width: 480px)
{
	#google_map
{
		margin:80px 0px 0px 0px;
}
}

iframe/*definition des style de la carte google en css plutot qu'en html.*/
{
	width: 400px;
	height: 200px;
	border: 1px gray solid;
}

@media all and (max-width: 480px)
{
	iframe/*pour un meilleur rendu sur mozilla*/
{
		position:absolute;
}
}



